@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    html {
      font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html {
      font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    html {
      font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
  overflow: hidden;
}

.title {
  text-align: center;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #0074D9;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #0074D9;

  color: #fff;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #efefef;
}

.intro {
  text-align: center;
}

.observation-section {
  background-color: #e2e2e2;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  .copyright {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .title,
  .nav {
    text-align: left;
  }

  .copyright {
    float: left;
  }

  .nav-footer {
    float: right;
  }

  .observation-text {
    padding-right: 1.5rem;
  }

}

@media only screen and (min-width: 60em) {

  .datalist dt{
    float: left;
    width: 50%;
  }

  .datalist dd {
    clear: right;
  }

  .moon-text {
    padding-left: 1.5rem;
  }

}

